<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>
</nav>

<div style="margin-top: -3vh;">
    <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{auth.jwtPayload?.nome}}</li>

    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" (click)="exibindoMenu = !exibindoMenu"><a routerLink="/dashboard">Dashboard</a>
    </li>
    
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')"  (click)="exibindoMenu = !exibindoMenu"><a routerLink="/lancamentos">Lançamentos</a></li>
    
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')"  (click)="exibindoMenu = !exibindoMenu">
        <a routerLink="/pessoas">Pessoas</a>
    </li>
    
    
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')"  (click)="exibindoMenu = !exibindoMenu">
        <a routerLink="/relatorios/lancamentos">Relatório</a>
    </li>

    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>
</div>
